<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WeatherZone</title>
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/d5a965c6eb.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar">
        <ul>
            <li><a href="/">WeatherZone</a></li>
        </ul>
    </nav>

    <div class="search-container">
        <form id="searchForm" action="/search" method="post">
            <input type="text" id="searchInput" name="query" placeholder="Enter a City" autocomplete="off">
            <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
    </div>



    <% if (locals.error) { %>
        <div class="error">
            <h1><%= error %></h1>
        </div>
    <% } else if (locals.data){ %>
        <div class="weather-container">
            <div class="weather">
                <div class="weather-location">
                    <h2><%= data.city.name %>, <%= data.city.country %></h2>
                    <h2><%= data.list[0].dt_txt.split(" ")[0].split("-")[2] %>.<%= data.list[0].dt_txt.split(" ")[0].split("-")[1] %>.<%= data.list[0].dt_txt.split(" ")[0].split("-")[0] %></h2>
                </div>

                <div class="weather-details">
                    <img src="https://openweathermap.org/img/wn/<%= data.list[0].weather[0].icon %>@2x.png" alt="weather icon">
                    <h1> <%= Math.round(data.list[0].main.temp) %>&deg;C</h1>
                    <h3><%= data.list[0].weather[0].description %></h3>
                </div>
            
                <div class="weather-descriptions">
                    <div>
                        <h1><%= Math.round(data.list[0].main.temp_max) %>&deg;C</h1>
                        <h3><i class="fa-solid fa-temperature-high"></i> Max Temp</h3>
                    </div>

                    <div>
                        <h1><%= Math.round(data.list[0].main.temp_min) %>&deg;C</h1>
                        <h3><i class="fa-solid fa-temperature-low"></i> Min Temp</h3>
                    </div>

                    <div>
                        <h1><%= Math.round(data.list[0].main.feels_like) %>&deg;C</h1>
                        <h3><i class="fa-solid fa-temperature-half"></i> Feels like</h3>
                    </div>
                </div>
            </div>


            <div class="forcast">
                <div class="greet">
                    <% if (time.getHours() < 12) { %>
                        <h1>Good Morning</h1>
                    <% } else if (time.getHours() > 12 && time.getHours() < 19 ) { %>
                        <h1>Good Afternoon</h1>
                    <% } else { %>
                        <h1>Good Evening</h1>
                    <% } %>
                    
                    <h2> <% if (time.getHours() < 10) { %>0<%= time.getHours() %><% } else { %><%= time.getHours() %><%}%>:<% if (time.getMinutes() < 10) { %>0<%= time.getMinutes() %>
                    <% } else { %><%= time.getMinutes() %> 
                    <% } %></h2>

                </div>

                <div class="hourly">
                    <h1>3-Hourly Forcast</h1>
                    <div class="hourly-forcast">
                        <% data.list.slice(1,7).forEach(weather => { %>
                            <div class="hourly-item">
                                <h1><%= weather.dt_txt.split(" ")[1].split(":")[0] %>:<%= weather.dt_txt.split(" ")[1].split(":")[1] %></h1>
                                <h2><%= Math.round(weather.main.temp) %>&deg;C</h2>
                                <h3><%= weather.weather[0].description %></h3>
                            </div>
                         <% }); %>

                    </div>
                </div>

            </div>
    </div>
    <% } %>


</body>
</html>